body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "header header header"
    "left-menu content right-menu"
    "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header{
    grid-area: header;
    background-color: gray;
    color: #fff;
    padding: 20px;
}

.left-menu{
    grid-area: left-menu;
    background-color: #ddd;
    padding:20px;
}

/* .content{
    grid-area: content;
    background-color: #bbbbbb;
    padding: 20px
} */

/* Content */
.content {
    grid-column: 2;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr; /* Four rows of equal height */
}

/* Example styles for each row */
.content .row {
    padding: 10px;
}

/* Row 1 */
.content .row:nth-child(1) {
    background-color: #f2f2f2;
}

/* Row 2 */
.content .row:nth-child(2) {
    background-color: #e6f7ff;
}

/* Row 3 */
.content .row:nth-child(3) {
    background-color: #f0f0f0;
}

/* Row 4 */
.content .row:nth-child(4) {
    background-color: #d9ead3;

}

.right-menu{
    grid-area: right-menu;
    background-color: #ddd;
    padding: 20px;
}

.footer{
    grid-area: footer;
    background-color: gray;
    color: #fff;
    padding: 20px;
}