body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "header header header"
    "left-menu content right-menu"
    "footer footer footer";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto 2000px auto;
    min-height: 100vh;
}

.header{
    grid-area: header;
    background-color: gray;
    color: #fff;
    padding: 20px;
}

.left-menu{
    grid-area: left-menu;
    background-color: #ddd;
    padding-left: 0px;
}

/* .content{
    grid-area: content;
    background-color: #bbbbbb;
    padding: 20px
} */

/* Content */
.content {
    grid-column: 2;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr; /* Four rows of equal height */
}

/* Example styles for each row */
.content .row {
    padding: 10px;
}

/* Row 1 */
.content .row:nth-child(1) {
    background-color: #f2f2f2;
}


/* Row 2 */
.content .row:nth-child(2) {
    background-color: #e6f7ff;
}

.content .row:nth-child(2) div{
    background-color: #e6f7ff;
    position: absolute;
    right: 150px;
}

/* Row 3 */
.content .row:nth-child(3) {
    background-color: #f0f0f0;
}

/* Row 4 */
.content .row:nth-child(4) {
    background-color: #d9ead3;

}

.content .row:nth-child(4) div{
    background-color: #d9ead3;
    position: absolute;
    right: 150px;
}

.right-menu{
    grid-area: right-menu;
    background-color: #ddd;
    padding: 0px;
}

.footer{
    grid-area: footer;
    background-color: gray;
    color: #fff;
    padding: 20px;
}

/*right-menu and left-menu list style*/
.list{
    padding-left: 0px;
    list-style: none;
}
.list_item{
    padding: 20px 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.list_link{
    padding: 0 10px;
    color: #000000;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
}
.list_link:hover{
    color: #eb315a;
    text-decoration: none;
    transition: 0.3s;
}


/*Personal Details style*/
.name{
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 43px;
    margin: 0px;
}
.position{
    font-family: "Nunito", sans-serif;
    font-weight: 750;
    font-size: 30px;
    margin: 0px;
    color: #eb315a;
}
.description{
    font-family: "Nunito", sans-serif;
    font-weight: 750;
    font-size: 17px;
    margin: 0px;
}

/* button style*/
.button{
    margin-top: 100px;
    border-radius: 7px;
    background-color: #eb315a;
    border: none;
    padding: 10px;
}
.button:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}
.button:hover i{
    color: #eb315a;
    transition: 0.3s;
}
.button_items{
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 800;
    color : white;
}
.button_icon{
    margin-left: 10px;
}